<div class="container">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Usuario" value="Usuario">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contraseña" value="Contraseña">
    </mat-form-field>
    <br>
    <a routerLink="/">
    <button style="margin: 15px;" mat-flat-button color="primary">Login</button>
    </a>
    <a routerLink="/register" mat-flat-button color="accent">Registrar</a>
  </form>

</div>
